APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:ZoyUQypvcH0/HmH9pT235Utlx68Ijip+MG0QkuyGjdw=
APP_DEBUG=true
APP_URL=http://drop.loc:8089

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=drop
DB_USERNAME=root
DB_PASSWORD=123456

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=database
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

ADMIN_ADDRESS=null

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

JWT_SECRET=FwzLlZwAjRsQOyQmC45g44WYJ8kdV4c0YWX3bn4hx7lqyf3fHS7WUk2ypS2vTXdD

L5_SWAGGER_GENERATE_ALWAYS=true
L5_SWAGGER_BASE_PATH="${APP_URL}/api"

IMPORT_XML_FILE_URL=https://city-a.com/images2/rozetka.xml
IMPORT_XML_FILE_PATH=/import-files
IMPORT_XML_FILE_NAME=rozetka.xml

GUZZLE_HTTP_CLIENT_TIMEOUT_CONNECTION=3600
GUZZLE_HTTP_CLIENT_LOGGING=false
GUZZLE_HTTP_CLIENT_DEBUGGING=false

NOVAPOSHTA_API_KEY=bb90c0fd29e04f65607c978f8cfb98e3
NOVAPOSHTA_API_DOMAIN=https://api.novaposhta.ua/v2.0/json/

NOVAPOSHTA_SENDER_CITY_ID=1013
NOVAPOSHTA_SENDER_WAREHOUSE_ID=874

# FRESH_TIME_ARCHIVE_FILE - SECONDS
FRESH_TIME_ARCHIVE_FILE=300