.calc-page__wrap-container {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.bgi-banner{
	overflow: hidden;
    position: fixed;
    top: 0;
    display: flex;
    left: 50%;
    bottom: 0;
    right: 0;
    transform: translate(-50%, 0);
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
	img{
		// width: max-content;
		// height: 100%;
		width: auto;
		height: inherit;
		min-width: fit-content;
	}
}