/* -----Main Color------- */

$primaryColor: #79CBC5;
$secondaryColor: #E7DB5E;
$tertiaryColor: #246856;
$fourthColor: #3C4243AD; 
$fifthColor: #3C4243;
$borderColor: #707070;

/* ------Option Color---------- */
// $mainBackgroundColor: #673b3b;
// ---
// $headerColor: #ccc;
$headerFontColor: #FFDE14;
// ---
// $headerBottomColor: $secondaryColor;
// $headerBottomFontColor: #fff;
// $headerBackgroundColor: #171A20;
// ---
// $footerColor: $secondaryColor;
// $footerFontColor: #969696;
// ---


/* -----Main Fonts-----*/
$pageFontSize: 25px;
$mainFont: 'Brandon-Grotesque', sans-serif;
$secondaryFont: "Conv_Brandon-Printed-One";
$titleFont: "AdobeArabic";
$stockFont: "Arial";

// ---Optional (page-grid)-----
$containerPadding: 12px;
$containerPaddingDesktop: 15px;

$containerWidthSmailler: 460px;
$containerWidth: 769px;
$containerWidthTablet: 980px;
$containerWidthLaptop: 1170px; 
$containerWidthDesktop: 1320px;
$containerWidthDesktopL: 1370px;
$containerWidthDesktopXS: 1540px;
$containerWidthDesktopXL: 1840px;
$pageMaxWidth: 1920px;

